/* This file should be included after Bootstrap (or any other third party CSS framework) */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  /* setup system font-stack (overwrite setting from Bootstrap) */
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  /* extra typo setting to make font-rendering nicer a bit
     see: https://developer.mozilla.org/en-US/docs/Web/CSS/font-smooth
  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width: 767px) {
  body {
    position: fixed;
  }
}

/* global variables */
:root {
  --bottom-bar-height: 3.375rem;
  --gutter: 15px; /* comes from Bootstrap */
}
